.field {
  margin-bottom: 1rem;
}

.field__text {
  width: 100%;
  padding: .5rem 9px;
  color: #3F4141;
  font-size: 1rem;
  border-radius: 3px;
  border: 1px solid #c2c2c2;
  box-sizing: border-box;

  @media screen and (max-width: 480px) {
    padding: .5rem 1rem;
    font-size: 1.3rem;
  }

  &:focus {
    border-color: #2EA2F8;
    outline: none;
  }
}